In [1]:
#FOR LOOP USING RANGE 
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [1]:
##RANGE FUNCTION USING THE STEP SIZE PARAMETER
for i in range(1,25,3):#increments by 3
    print(i)

1
4
7
10
13
16
19
22

In [4]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [5]:
str="Anohita Mukherjee"
for i in str:
    print(i)

A
n
o
h
i
t
a

M
u
k
h
e
r
j
e
e

In [8]:
##WHILE LOOP:Goes on executing until and unless the condition becomes false
count=0
while(count<10):
    print( count)
    count+=1

0
1
2
3
4
5
6
7
8
9

In [9]:
##LOOP CONTROL STATEMENTS:
#BREAK : Exits the loop permanently
for i in range(1,19):
    if i%3==0:
        break
    print(i)

1
2

In [12]:
#CONTINUE : Skips the cuurent iteration and carries on with the next
for i in range(1,19):
    if i%2==0:
        continue
    print( i)

1
3
5
7
9
11
13
15
17

In [13]:
#PASS : It is generally used for null operations
for i in range(1,19):
    if i%3==0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [15]:
##CALCULATE THE SUM OF FIRST N NATURAL NUMBERSS
n=19
sum=0
count=0
while count<=n:
    sum+=count
    count+=1
print(sum)

190

In [16]:
sum=0
for i in range(1,20):
    sum+=i
print(sum)

190

In [18]:
##PRINT ALL PRIME NUMBERS BETWEEN 1 TO 100:-
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97