In [1]:
##INTRODUCTION TO TUPLES

In [2]:
##CREATING TUPLES:-
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
##ACCESSING TUPLE ELEMENTS:
numbers=(1,2,3,4,5)
print(numbers[0])

1

In [7]:
##TUPLE OPERATIONS:
tuple_1=(1,3,5,7,9)
tuple_2=(2,4,6,8,10)
tuple_3=tuple_1+tuple_2
print(tuple_3)
print(tuple_1*4)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [9]:
##TUPLE IMMUTABILITY(Assigned elements of the tuples cannot be changed once assigned):-
numbers_2=(1,2,4,5,7,8)
#numbers_2[3]="Hello"##this is wrong and throws error

In [14]:
##TUPLE METHODS:-
#TUPLE COUNT:-
print(numbers_2.count(1))
#TUPLE INDEX:-
print(numbers_2.index(5))

1
3

In [17]:
##PACKING AND UNPACKING:-
just_a_tuple=1,"Anohita","Jack",32.12
print(just_a_tuple)
a,b,c,d=just_a_tuple
print(f"{a},{b},{c} and {d}")

(1, 'Anohita', 'Jack', 32.12)
1,Anohita,Jack and 32.12

In [19]:
##NESTED TUPLES
tup=((1,2,3),(4,5,6),(7,8,9))
print(tup[0][0])
print(tup[1][0])

1
4